.trailingNote {
  background:black;
  width:20px;
  transition: transform  5s;
  transition-timing-function: linear;

  }
 
.trailingNote:hover, .trailingNote-moveUp{
  transform: translateY(-700px);
}
